body, html {
padding: 0;
margin: 0;
text-align: center;
}

/* Styles the thumbnail */

a.lightbox img {
height: 156px;
width: 156px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 25px 5px 20px 5px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.imgwrap{
height: 100%;
width: auto;
position: absolute;
float: none;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
}

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

/*.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}*/

.lightbox-target img {
    margin: auto;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
float: left;
}

/* Styles the close link, adds the slide down transition */

/*a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: rgba(0, 0, 0, 0.32);
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}*/

a.lightbox-close{
width: 50px;
height: 50px;
float:left;
box-sizing: border-box;
background: rgba(0, 0, 0, 0.32);
color: #fff;
text-decoration: none;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
margin-left: -50px;
line-height: 2.5rem;
font-size: 3rem;
font-weight: 300;
}

a.lightbox-next {
display: block;
width:50px;
height:50px;
margin-top:7em;
box-sizing: border-box;
background: rgba(0, 0, 0, 0.32);
color: #fff;
font-size:30px;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

a.lightbox-prev {
display: block;
width:50px;
height:50px;
margin-top:7em;
box-sizing: border-box;
background: rgba(0, 0, 0, 0.32);
color: #fff;
font-size:30px;
text-decoration: none;
position: absolute;
top: -80px;
left: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

/*a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 2px;
background: white;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}*/

/* Provides part of the "X" to eliminate an image from the close link */

/*a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 2px;
background: white;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}*/

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
z-index:5001;
}

.lightbox-target:target img {
max-height: 100vh;
max-width: 100vw;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}

.lbcontainer {
  position: relative;
  clear: both;
  z-index: 5010;
}
