/*---ELEMENT DEFAULTS---*/

*
{
margin:0;
padding:0;
}

*:focus{  
  outline:none;
  outline-style:none;
}

input:focus{  
  outline:none;
  outline-style:none;
}

html
{
  height:100%;
}
body
{
  background: #edf5f7; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #edf5f7 0%, #edf5f7 20%, #e3eff2 20%, #e3eff2 40%, #dae9ed 40%, #dae9ed 60%, #cee1e5 60%, #cee1e5 80%, #c0dae0 80%, #c0dae0 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #edf5f7 0%,#edf5f7 20%,#e3eff2 20%,#e3eff2 40%,#dae9ed 40%,#dae9ed 60%,#cee1e5 60%,#cee1e5 80%,#c0dae0 80%,#c0dae0 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #edf5f7 0%,#edf5f7 20%,#e3eff2 20%,#e3eff2 40%,#dae9ed 40%,#dae9ed 60%,#cee1e5 60%,#cee1e5 80%,#c0dae0 80%,#c0dae0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5f7', endColorstr='#c0dae0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat:no-repeat;
  background-position: cover;
  background-size: cover;
  font-family:'Raleway', sans-serif;
  font-size:1rem;
  line-height: 1.5;
  /*min-height:100%;*/
}

li
{
  list-style:none;
}

a
{
  text-decoration:none;
  background-color:transparent;
}

.NoScroll /*****removes vertical scroll from homepage*****/
{
  overflow:hidden;
  position:static;
}
/******************************HEADER & NAV BAR******************************/

.NavContainer
{
  background: #7e9b9f;
  height: 2rem;
  margin: 2rem auto;
  width: 80%;
}

.HomePin
{
  width: 8rem;
  height: 8rem;
  position: absolute;
  float: left;
}

.HomePin:hover
{
   width: 8rem;
  height: 8rem;
  position: absolute;
  float: left;
  -webkit-animation: 0.5s ease-in lubdup;
  -moz-animation: 0.5s ease-in lubdup;
  z-index:6000;
}
@keyframes lubdup{
  0%{transform: scale(1.05);}
  33%{transform: scale(1);}
  66%{transform: scale(1.05);}
  100%{transform: scale(1);}
}

.HomePin a
{
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/BoskoPin.png");
  position: relative;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 1em;
  z-index: 5001;
  /*transform: scale(0.8);*/
}

.HomePin a:active{
  -webkit-animation: 0.5s ease-in lubdup;
  -moz-animation: 0.5s ease-in lubdup;
}

.NavSection
{
   Height: 4em;
   top:2em;
}

.NavIcon
  {
  background-image: url('https:/esquiresque.github.io/assets/images/MenuBtn.png');
/*width: 2.5em;
height: 4.5em;*/
    width: 4rem;
    height: 5rem;
background-repeat: no-repeat;
background-size: 2.5rem;
background-position: center;
float: right;
position: relative;
top: 1em;
right: 1.5em;
z-index: 5010;
}

.onclick-menu {
    position: relative;
    display: inline-block;
}
.onclick-menu:before {
    content: "";
}
.onclick-menu:hover {
    cursor: pointer;
}
.onclick-menu:focus .onclick-menu-content {
    visibility: visible;
    opacity:1;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
  
}
.onclick-menu-content {
    position: absolute;
    background:rgba(104, 132, 135, 0.9) none repeat scroll 0 0;
    right:0rem;
    visibility: hidden;
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    opacity:0;
    z-index: inherit;
}
.onclick-menu ul li{
  width: 10rem;
  height: 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
}
.onclick-menu ul li a{
  color:#E3EFF2;
}

.MenuLink
{
  border-top: 1px dotted rgba(255, 255, 255, 0.1);
  line-height: 1.6;
  margin: 0;
  padding: 0.875rem 2.4rem 0.875rem 1.5625rem;
  white-space: normal;
  transition: all 0.3s ease 0s !important;
}
  
/******************************Carousel Thingymajigs******************************/

.Boskotainer  /*Bug-fix to Firefox Android browser i.e. allows Navicon to be activated by touchscreen*/
{
  clear: both;
  top:-5rem;
}

.slick-prev, .slick-next
{
display: inline-block;
background-color: transparent;
color: #7E9B9F;
border: none;
font-weight: bold;
font-size: 1.5rem;
position: absolute;
top:5rem;
cursor: pointer;
z-index: 5010;
width:3rem;
height:3rem;
}

.slick-prev
{
right: 2.5rem;
top: 10rem;
}

.slick-next
{
right: 2.5rem;
top: 15rem;
}

color: #fff;
/******************************Actions******************************/
[role="button"], a, area, button, input, label, select, summary, textarea
{
  touch-action: manipulation;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
{
  cursor: pointer;
}

button, select
{
  text-transform: none;
}

button {
  overflow: visible;
}

*, ::after, ::before {
  box-sizing: inherit;
}


/******************************ScreenSizes******************************/
@media screen and (max-width: 543px){
  .Boskotainer img {
    width: 200% !important;
    left: -50%;
    position: relative;}
}

@media screen and (min-width: 544px){
  .Boskotainer img {
    width: 150% !important;
    left: -30%;
    position: relative;}
}
